.top-diferenca {
    height: 65px;
}

nav {
    z-index: 3;
    position: fixed;
    padding: 20px 0;
    width: 100%;
    background: rgb(6, 157, 184);
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .4s;
}

nav ul li a:hover {
    color: aqua;
    font-size: 22px;
}

.container {
    position: relative;
    height: 100%;
}

.sessao {
    min-height: 100%;
    padding: 30px 2%;
}


/*inicio media queries*/

@media screen and (max-width: 316px) {
    .top-diferenca {
        height: 143px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav li {
        padding: 5px 0;
    }
}