nav {
    padding: 20px 0;
    width: 100%;
    background: rgb(6, 157, 184);
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .4s;
}

nav ul li a:hover {
    color: aqua;
    font-size: 22px;
}

@media screen and (max-width: 316px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav li {
        padding: 5px 0;
    }
}